<br>
<div class="row">
	<div class="small-1 column"></div>
	<div class="small-11 column pushleft">
		<h2>Edit Submission</h2>
	</div>
</div>
<div class="row">
	<div class="small-1 column "></div>
	<div class="small-11 column pushleft">
		<%= form_for @submission do |i| %>
			<%= i.label :title %>
			<%= i.text_field :title %>
			<%= i.label :content %>
			<%= i.text_area :content, size: "100x800" %>
			<%= i.hidden_field :cid, :value => params[:id]%>
			<%= i.submit %>
		<% end %>
	</div>
</div>