<div class="row">
	<div class="small-12">
		<h2>Submit Copy</h2>
	</div>
</div>

<div class="row">
	<div class="small-8">
		<%= form_for @submission do |i| %>
			<%= i.label :title %>
			<%= i.text_field :title %>
			<%= i.label :content %>
			<%= i.text_area :content, size: "100x800" %>
			<%= i.hidden_field :cid, :value => params[:id]%>
			<%= i.hidden_field :winner, :value => "no"%>
			<%= i.submit %>
		<% end %>
	</div>
</div>