<div class="row">
	<div class="small-12 columns">
			<h3>Campaign Title:</h3>
			<%= @submission.campaign.title %>
			<h3>Submission Title:</h3>
			<%= @submission.title %>
			<h3>Submission Content:</h3>
			<%= @submission.content %>
			<% if @submission.campaign.status == "Live" %>		
						<h4><%= link_to 'Edit', edit_submission_path%></h4>
						<%= button_to "Delete", {action:"destroy", id:@submission},
				      {method: :delete} %>
				    <%= link_to 'Back', submissions_path%>
			<% end %>
</div>
</div>
