<div class="row">
	<fieldset class="small-10 small-offset-1 column">
		<legend><%= @submission.title %></legend>	
		<h3>Campaign: <%= @submission.campaign.title %>  </h3>
		<h3>Content:</h3>
		<h5><%= @submission.content %></h5>
		<% if @submission.campaign.status == "Live" %>		
						<h4><%= link_to 'Edit', edit_submission_path, :class => "button" %></h4>
						<%= button_to "Delete", {action:"destroy", id:@submission}, :class => "button" ,method: :delete %>
				    <h4><%= link_to 'Back', account_path, :class => "button" %></h4>
			<% end %>
	</fieldset>
</div>
