<br>
<div class="row">
  
    <fieldset class="small-4 small-offset-1 columns">
      <legend>Profile</legend>
      <ul>    
        <li>
          <h4>Name:<%= Userbin.current_user.name %></h4>
        </li>
        <li>
          <h4>Email:<%= Userbin.current_user.email %></h4>
        </li>
        <li>
          <h4><%= link_to 'Edit Profile', edit_user_path(@user), :class => "button" %></h4>
        </li>
      </ul>
    </fieldset>
</div>
<br>
  <%= render 'campaigns/my' %>
  <%= render 'submissions/usersub' %></div>  
  