<div class="row">
	<div class="small-1 columns"></div>
	<div class="small-5 column">
		My Live Campaigns:
	</div>
	<div class="small-6 column">
		My Finished Campaigns:	
	</div>
</div>
<br>
<br>
<div class="row">
	<div class="small-1 columns"></div>
	<div class="small-5 column">
		<% @campaigns.each do |c| %>
			<% if c.status == "Live" %>
				<ul>
					<li>
						<%= c.title %>		
					</li>
					<li>
						$<%= c.price %>		
					</li>
					<li>
						<%= link_to 'View', campaign_path(c.id) %>		
					</li>
				</ul>
				<br>
			<% end %>						
		<% end %>
	</div>
	<div class="small-6 column">
		<% @campaigns.each do |c| %>
			<% if c.status == "Finished" %>	
				<ul>
					<li>
						<%= c.title %>
					</li>
					<li>
						$<%= c.price %>
					</li>
					<li>
						<%= link_to 'View', campaign_path(c.id) %>
					</li>
				</ul>
			<% end %>				
		<% end %>
	</div>
</div>	
	
