<div class="row">
	<fieldset class="small-4 small-offset-1 column">
	<legend>My Live Campaigns</legend>
		<% @campaigns.each do |c| %>
			<% if c.status == "Live" %>
				<ul>
					<li>
						<h5><%= c.title %>		</h5>
					</li>
					<li>
						<h5>$<%= c.price %>		</h5>
					</li>
					<li>
						<h5><%= link_to 'View', campaign_path(c.id), :class => "button [tiny]" %>		</h5>
					</li>
				</ul>
				<br>
			<% end %>						
		<% end %>
	</fieldset>

	<fieldset class="small-4 small-pull-1 column">
		<legend>My Finished Campaigns</legend>
		<% @campaigns.each do |c| %>
			<% if c.status == "Finished" %>	
				<ul>
					<li>
						<h5><%= c.title %></h5>
					</li>
					<li>
						<h5>$<%= c.price %></h5>
					</li>
					<li>
						<h5><%= link_to 'View', campaign_path(c.id), :class => "button" %></h5>
					</li>
				</ul>
			<% end %>				
		<% end %>
	</fieldset>
</div>	
	
