<div class="row">
 <div class="small-1 columns"></div>
 	<div class="small-5 columns">
	  	<%= form_for @campaign do |f| %>
	  		<br>
	  		<%= f.label :title %>
	  		<%= f.text_field :title %>
	  		<%= f.label "Content" %>
	  		<%= f.text_area :description, size: "100x200" %>
	  		<%= f.submit "Save Changes", :class => "button" %>
				<% end %>
  	</div>
  <div class="small-6 columns"></div>
</div>
