<div class="row">

 	<fieldset class="small-6 small-offset-3 columns">
	  	<legend>Edit</legend>
	  	<%= form_for @campaign do |f| %>
	  		<br>
	  		<%= f.label :title %>
	  		<%= f.text_field :title %>
	  		<%= f.label "Content" %>
	  		<%= f.text_area :description, size: "100x200" %>
	  		<%= f.submit "Save Changes", :class => "button" %>
				<% end %>
  	</fieldset>
  <div class="small-6 columns"></div>
</div>
