
  
  
  


<%= form_for @campaign, url: {action: "create"}, html: {class: "new_campaign_form"} do |f| %>
	<div class="row">
  		<div class="small-3">
  			 <h4><%= f.label :title%></h4>
  		</div>
  		<div class="small-6">
  			<h4><%= f.text_field :title %></h4>
  		</div>
	</div>
  <div class="row">
      <div class="small-3">
         <h4><%= f.label :price%></h4>
      </div>
      <div class="small-6">
        <%= f.select(:price, options_for_select([['$25', 25], ['$50', 50],['$75', 75],['$100', 100],['$150', 150]])) %>
      </div>
  </div>
	<div class="row">
  		<div class="small-3">
  			<h4><%= f.label :description%></h4>
  		</div>
  		<div class="small-6">
  			<h4><%= f.text_area :description, size: "100x200" %></h4>			
  		</div>
  </div>
  <div class="row">
  		<div class="small-12">     
    	<h4><%= f.submit "Create" %></h4>
  		</div>
			</div>
 
    <% end %>