<br>
<div class="row">
  <fieldset class="small-6 small-offset-3 column">
    <legend>New Campaign</legend>
    <%= form_for @campaign, url: {action: "create"}, html: {class: "new_campaign_form"} do |f| %>
    	<p>Title</p>
      <%= f.text_field :title %>
      <p>Price (USD)</p>
      <%= f.text_field :price %>
      <p>Content</p>
      <%= f.text_area :description, size: "100x200" %>			
      <%= f.submit "Create", :class => "button" %>
    <% end %>
  </fieldset>
  <div class="small-5 column"></div>
</div>