<br>
<div class="row">
  <div class="small-1 column"></div>
  <div class="small-7 column">
    <%= form_for @campaign, url: {action: "create"}, html: {class: "new_campaign_form"} do |f| %>
    	<p>Title</p>
      <%= f.text_field :title %>
      <p>Price (USD)</p>
      <%= f.text_field :price %>
      <p>Content</p>
      <%= f.text_area :description, size: "100x200" %>			
      <%= f.submit "Create" %>
    <% end %>
  </div>
  <div class="small-5 column"></div>
</div>