<br>
<div class="row">    
				<div class="small-1 column"></div>
    <div class="small-11 column">
        <h1><%= @campaign.title %>   $<%= @campaign.price %></h1> 
        <% if @user == @campaign.user %> 
        	<% if @campaign.status == "Live" %> 
    						<%= link_to 'Edit Campaign', edit_campaign_path(:id => @campaign.id)%>
									<% end %>
								<% end %>

    </div>
    
</div>
<br>
<div class="row">    
				<div class="small-1 column"></div>
    <div class="small-11 column">
      
            <p>This campaign is <span id="bigFont"><%= @campaign.status %></span></p>
       
    </div>
</div>
<div class="row">    
				<div class="small-1 column"></div>
    <div class="small-11 column pushleft">
        <p><%= @campaign.description %></p>
    </div>

</div>
<div class="row">
    <div class="small-1 column"></div>
    <div class="small-11 column">
        <% if @campaign.status == "Live" %>
        		<% if @user == @campaign.user %>
            <h2>Submissions:</h2>
          <% end %>
        <% end %>
    </div>
</div>
<div class="row">
				<div class="small-1 column"></div>
    <div class="small-11 column">
        <% if @campaign.status == "Live" %>        
            <% if @user.campaigns.include?(@campaign) %>
                <% @submissions.each do |o| %>
                    <h4><%= o.title %></h4>
                    <%= button_to "Winner", {:id => o.id , :controller => :submissions, action: "win" } %>
                    <br>
                    <h4>Content:</h4>
                    <p class="pushleft"><%= o.content %></p>
                    <br>
                <% end %>
             <% end %>
        <% end %>
        
    </div>
</div>
<div class="row">
    <div class="small-1 column"></div>
    <div class="small-11 column">
        <% if @campaign.status == "Finished" %>
            <h2>Winner:</h2>
        <% end %>
    </div>
</div>
<div class="row">
				<div class="small-1 column"></div>
    <div class="small-11 column">
        <% if @campaign.status == "Finished" %>        
            <% if @user.campaigns.include?(@campaign) %>
                <% @submissions.each do |o| %>
                		<% if o.winner == "yes" %>		
                    <h4><%= o.title %></h4>
                    <br>
                    <h4>Content:</h4>
                    <p class="pushleft"><%= o.content %></p>
                    <br>
                   <% end %>
                <% end %>
             <% end %>
        <% end %>  
    </div>
</div>
<div class="row">
				<div class="small-1 column"></div>
    <div class="small-11 column">
    		<% if @campaign.status == "Live" %>

        <h3><%= link_to 'submit copy', new_submission_path(:id => @campaign.id)%></h3>
      <% end %>
    </div>
</div>
<div class="row">
				<div class="small-1 column"></div>
    <div class="small-11 column">
					<% if @user == @campaign.user %>
						<% if @campaign.status == "Live" %> 
    			<%= button_to "Delete", {action:"destroy", id:@campaign},{method: :delete} %>
						<% end %>
					<% end %>
    </div>
</div>

