<div class="row">
	<div class="small-12">
		<h2>Campaign Title:</h2>
		<%= @campaign.title %>
		<h2>Campaign Description:</h2>
		<%= @campaign.description %>
		    
		<h3><%= @campaign.status %></h3>
	</div>
</div>
<div class="row">
	<div class="small-12">
		<h2>Campaign Price:</h2>
		<%= @campaign.price %>
	</div>
</div>
<div class="row">
	<div class="small-12">
		
			<h2>Submissions</h2>
		
			
		
			<% if @user.campaigns.include?(@campaign) %>


				<% @submissions.each do |o| %>
					<h2>Submission Title:</h2>
					<%= o.title %>
					<h2>Submission Content:</h2>
					<%= o.content %>
					<%= button_to "Winner", {:controller => :submissions, action: "win" } %>
					
				<% end %>
					<% else %>
				<% end %>
		
		
	</div>
</div>
<div class="row">
	<div class="small-12">
		
			<h4><%= link_to 'submit copy', new_submission_path(:id => @campaign.id)%></h4>
		
	</div>
</div>	
<div class="row">
	<div class="small-12">
		
			<% if @user == @campaign.user %> 
		<h4><%= link_to 'edit campaign', edit_campaign_path(:id => @campaign.id)%></h4>
			<% end %>
		
	</div>
</div>	
<div class="row">
	<div class="small-12">
	
		<% if @user == @campaign.user %> 
		<%= button_to "Delete", {action:"destroy", id:@campaign},
	    	   {method: :delete} %>
	       	<% end %>
	
	</div>
</div>	
