<div class="row">
	<div class="small-12">
		<h2><%= @campaign.title %></h2>
		<h3><%= @campaign.price %></h3>
	</div>
</div>
<div class="row">
	<div class="small-12">
		<h4><%= link_to 'submit copy', new_submission_path(:id => @campaign.id)%></h4>
	</div>
</div>
<div class="row">
	<div class="small-12">
		<h4><%= @campaign.description %></h4>	
	</div>
</div>
<div class="row">
	<div class="small-12">

			<% @submissions.each do |o| %>
				<%= o.title %>
				<% end %>
	</div>
</div>

	
	
