<%= form_for @campaign, url: {action: "create"}, html: {class: "new_campaign_form"} do |f| %>
	<div class="row">
  		<div class="small-3">
  			
  		</div>
  		<div class="small-6">
  	
  		</div>
	</div>
  <div class="row">
  <%= form_tag charges_path do %>
  <article>
    <label class="amount">
      <span>Amount: $<%= @campaign.price %></span>
      <!-- hidden value passing the id???? -->
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount=<%= @campaign.price * 100 %> ></script>
<% end %>
	<div class="row">
  		<div class="small-3">

  		</div>
  		<div class="small-6">
	
  		</div>
  </div>
  <div class="row">
  		<div class="small-12">     
    	
  		</div>
			</div>
 
    <% end %>





